/demo/FindNALContent/bin/Debug/*.pdb
/demo/FindNALContent/bin/Debug/*.ilk
/demo/FindNALContent/bin/Debug/*.exe
/demo/FindNALContent/FindNALContent/Debug
/demo/FindNALContent/FindNALContent/*.user
/demo/FindNALContent/ipch
/demo/FindNALContent/*.db
/demo/FindNALContent/*.opendb
/demo/FindNALContent/.vs
/Simplest_h264_analyzer/bin/Debug/*.exe
/Simplest_h264_analyzer/bin/Debug/*.ilk
/Simplest_h264_analyzer/bin/Debug/*.pdb
/Simplest_h264_analyzer/ipch
/Simplest_h264_analyzer/.vs
/Simplest_h264_analyzer/*.db
/Simplest_h264_analyzer/*.opendb
/Simplest_h264_analyzer/Simplest_h264_analyzer/Debug
/Simplest_h264_analyzer/Simplest_h264_analyzer/*.user
/demo/huffuman/.vs
/demo/huffuman/Debug
/demo/huffuman/ipch
/demo/huffuman/*.db
/demo/huffuman/huffuman/Debug
/demo/ExpGolomb/.vs
/demo/ExpGolomb/Debug
/demo/ExpGolomb/ipch
/demo/ExpGolomb/*.db
/demo/ExpGolomb/*.opendb
/demo/ExpGolomb/ExpGolomb/Debug
/Simplest_h264_analyzer/Simplest_h264_analyzer/Win32
/Simplest_h264_analyzer/Simplest_h264_analyzer/x64
/Simplest_h264_analyzer/bin/Debug/trace.txt
/simplest_h264_codec/bin/*.pdb
/simplest_h264_codec/bin/*.exe
/simplest_h264_codec/bin/*.ilk
/simplest_h264_codec/ipch
/simplest_h264_codec/ldecod/Win32
/simplest_h264_codec/ldecod/*.user
/simplest_h264_codec/lencod/Win32
/simplest_h264_codec/lencod/*.user
/simplest_h264_codec/*.opensdf
/simplest_h264_codec/*.sdf
/simplest_h264_codec/*.suo
/Simplest_h264_analyzer/*.sdf
/Simplest_h264_analyzer/*.suo
